apiVersion: v1
kind: Service
metadata:
  name: sonar-service
  namespace: devops-tools
spec:
  selector: 
    app: sonar-server
  type: NodePort  
  ports:
    - port: 9000
      targetPort: 9000
      nodePort: 32002
